Open Developer Tools, watch the console and click the below links a couple of times.

<p>Routes:</p>
<ul>
  <li>{{link-to 'Home' 'index'}}</li>
  <li>{{link-to 'First' 'firstroute'}}</li>
  <li>{{link-to 'Second' 'secondroute'}}</li>
  <li>{{link-to 'Third' 'thirdroute'}}</li>
</ul>

{{outlet}}
